body {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: Montserrat, sans-serif;
  color: var(--title-color);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

.section {
  padding: 65px 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include mq(mobile) {
    width: 280px;
    padding: 0 20px;
  }

  @include mq(tablet) {
    width: 688px;
    padding: 0 40px;
  }

  @include mq(desktop) {
    width: 1314px;
    padding: 0 183px;
  }
}
