body {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: Montserrat, sans-serif;
  color: var(--title-color);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

.section {
  padding: 25px 0;

  @include mq(desktop) {
    padding: 65px 0;
  }
}

.container {
  max-width: 480px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;

  @include mq(tablet) {
    max-width: 768px;
    padding: 0 40px;
  }

  @include mq(desktop) {
    max-width: 1366px;
    padding: 0 26px;
  }
}

.section__title {
  font-weight: 800;
  font-size: 46px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
