:root {
  // Переменные для текста
  --title-color: #111518;
  --text-color: #b9b9b9;
  --text-color-white: #ffffff;

  //Переменные для секций
  --section-grey: #f1f1f1;
  --section-white: #ffffff;
  --section-black: #111518;

  //Дополнительный цвет
  --extra-color-orange: #ff6b09;
  --extra-color-dark-grey: #3d3d3d;
  --extra-color-blue: #436eab;
}
