<section class="feedback">
  <div class="container">
  <h2 class="feedback-title">Feedback from graduates</h2>
  <article class="feedback-review">
    <div class="js-slick">
      <div class="review-wrapper">
        <div class="review-wrapper__photo">
          <picture>
            <source
              media="(max-width: 479px)"
              srcset="./images/user-sm@1x.png 1x, ./images/user-sm@2x.png 2x"
              type="image/png"
            />

            <source
              media="(min-width: 480px)"
              srcset="./images/user-lg@1x.png 1x, ./images/user-lg@2x.png 2x"
              type="image/png"
            />

            <img
              class="feedback__image"
              src=" ./images/user-lg@1x.png"
              alt="Feedback portrait"
            />
          </picture>
          <a class="review-link" href="">
            <svg class="review-link__icon">
              <use href="./images/icons/icons-sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </div>

        <h3 class="review-name">Tonya Kucherovskaya</h3>
        <p class="review-achievment">
          Graduated from 2015, National University of Bioresources and natural history of Ukraine
        </p>
        <p class="review-text">
          In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
          friends because she was really worried about my success. She became an authority for me,
          but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
          I'm student ... Read more
        </p>
      </div>
      <div class="review-wrapper">
        <div class="review-wrapper__photo">
          <picture>
            <source
              media="(max-width: 479px)"
              srcset="./images/user-sm@1x.png 1x, ./images/user-sm@2x.png 2x"
              type="image/png"
            />

            <source
              media="(min-width: 480px)"
              srcset="./images/user-lg@1x.png 1x, ./images/user-lg@2x.png 2x"
              type="image/png"
            />

            <img
              class="feedback__image"
              src=" ./images/user-lg@1x.png"
              alt="Feedback portrait"
            />
          </picture>
          <a class="review-link" href="">
            <svg class="review-link__icon">
              <use href="./images/icons/icons-sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </div>

        <h3 class="review-name">Tonya Kucherovskaya</h3>
        <p class="review-achievment">
          Graduated from 2015, National University of Bioresources and natural history of Ukraine
        </p>
        <p class="review-text">
          In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
          friends because she was really worried about my success. She became an authority for me,
          but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
          I'm student ... Read more
        </p>
      </div>
      <div class="review-wrapper">
        <div class="review-wrapper__photo">
          <picture>
            <source
              media="(max-width: 479px)"
              srcset="./images/user-sm@1x.png 1x, ./images/user-sm@2x.png 2x"
              type="image/png"
            />

            <source
              media="(min-width: 480px)"
              srcset="./images/user-lg@1x.png 1x, ./images/user-lg@2x.png 2x"
              type="image/png"
            />

            <img
              class="feedback__image"
              src=" ./images/user-lg@1x.png"
              alt="Feedback portrait"
            />
          </picture>
          <a class="review-link" href="">
            <svg class="review-link__icon">
              <use href="./images/icons/icons-sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </div>

        <h3 class="review-name">Tonya Kucherovskaya</h3>
        <p class="review-achievment">
          Graduated from 2015, National University of Bioresources and natural history of Ukraine
        </p>
        <p class="review-text">
          In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
          friends because she was really worried about my success. She became an authority for me,
          but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
          I'm student ... Read more
        </p>
      </div>
      <div class="review-wrapper">
        <div class="review-wrapper__photo">
          <picture>
            <source
              media="(max-width: 479px)"
              srcset="./images/user-sm@1x.png 1x, ./images/user-sm@2x.png 2x"
              type="image/png"
            />

            <source
              media="(min-width: 480px)"
              srcset="./images/user-lg@1x.png 1x, ./images/user-lg@2x.png 2x"
              type="image/png"
            />

            <img
              class="feedback__image"
              src=" ./images/user-lg@1x.png"
              alt="Feedback portrait"
            />
          </picture>
          <a class="review-link" href="">
            <svg class="review-link__icon">
              <use href="./images/icons/icons-sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </div>

        <h3 class="review-name">Tonya Kucherovskaya</h3>
        <p class="review-achievment">
          Graduated from 2015, National University of Bioresources and natural history of Ukraine
        </p>
        <p class="review-text">
          In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
          friends because she was really worried about my success. She became an authority for me,
          but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
          I'm student ... Read more
        </p>
      </div>
      <div class="review-wrapper">
        <div class="review-wrapper__photo">
          <picture>
            <source
              media="(max-width: 479px)"
              srcset="./images/user-sm@1x.png 1x, ./images/user-sm@2x.png 2x"
              type="image/png"
            />

            <source
              media="(min-width: 480px)"
              srcset="./images/user-lg@1x.png 1x, ./images/user-lg@2x.png 2x"
              type="image/png"
            />

            <img
              class="feedback__image"
              src=" ./images/user-lg@1x.png"
              alt="Feedback portrait"
            />
          </picture>
          <a class="review-link" href="">
            <svg class="review-link__icon">
              <use href="./images/icons/icons-sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </div>

        <h3 class="review-name">Tonya Kucherovskaya</h3>
        <p class="review-achievment">
          Graduated from 2015, National University of Bioresources and natural history of Ukraine
        </p>
        <p class="review-text">
          In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
          friends because she was really worried about my success. She became an authority for me,
          but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
          I'm student ... Read more
        </p>
      </div>
      <div class="review-wrapper">
        <div class="review-wrapper__photo">
          <picture>
            <source
              media="(max-width: 479px)"
              srcset="./images/user-sm@1x.png 1x, ./images/user-sm@2x.png 2x"
              type="image/png"
            />

            <source
              media="(min-width: 480px)"
              srcset="./images/user-lg@1x.png 1x, ./images/user-lg@2x.png 2x"
              type="image/png"
            />

            <img
              class="feedback__image"
              src=" ./images/user-lg@1x.png"
              alt="Feedback portrait"
            />
          </picture>
          <a class="review-link" href="">
            <svg class="review-link__icon">
              <use href="./images/icons/icons-sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </div>

        <h3 class="review-name">Tonya Kucherovskaya</h3>
        <p class="review-achievment">
          Graduated from 2015, National University of Bioresources and natural history of Ukraine
        </p>
        <p class="review-text">
          In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
          friends because she was really worried about my success. She became an authority for me,
          but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
          I'm student ... Read more
        </p>
      </div>
      <div class="review-wrapper">
        <div class="review-wrapper__photo">
          <picture>
            <source
              media="(max-width: 479px)"
              srcset="./images/user-sm@1x.png 1x, ./images/user-sm@2x.png 2x"
              type="image/png"
            />

            <source
              media="(min-width: 480px)"
              srcset="./images/user-lg@1x.png 1x, ./images/user-lg@2x.png 2x"
              type="image/png"
            />

            <img
              class="feedback__image"
              src=" ./images/user-lg@1x.png"
              alt="Feedback portrait"
            />
          </picture>
          <a class="review-link" href="">
            <svg class="review-link__icon">
              <use href="./images/icons/icons-sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </div>

        <h3 class="review-name">Tonya Kucherovskaya</h3>
        <p class="review-achievment">
          Graduated from 2015, National University of Bioresources and natural history of Ukraine
        </p>
        <p class="review-text">
          In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
          friends because she was really worried about my success. She became an authority for me,
          but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
          I'm student ... Read more
        </p>
      </div>
    </div>
    <ul class="js-slick2">
      <li>
        <img
          srcset="./images/user1@1x.png 1x, ./images/user1@2x.png 2x"
          src="./images/user1@1x.png"
          alt="Feedback portrait"
        />
      </li>
      <li>
        <img
          srcset="./images/user2@1x.png 1x, ./images/user2@2x.png 2x"
          src="./images/user2@1x.png"
          alt="Feedback portrait"
        />
      </li>
      <li>
        <img
          srcset="./images/user3@1x.png 1x, ./images/user3@2x.png 2x"
          src="./images/user3@1x.png"
          alt="Feedback portrait"
        />
      </li>
      <li>
        <img
          srcset="./images/user4@1x.png 1x, ./images/user4@2x.png 2x"
          src="./images/user4@1x.png"
          alt="Feedback portrait"
        />
      </li>
      <li>
        <img
          srcset="./images/user5@1x.png 1x, ./images/user5@2x.png 2x"
          src="./images/user5@1x.png"
          alt="Feedback portrait"
        />
      </li>
      <li>
        <img
          srcset="./images/user6@1x.png 1x, ./images/user6@2x.png 2x"
          src="./images/user6@1x.png"
          alt="Feedback portrait"
        />
      </li>
      <li>
        <img
          srcset="./images/user7@1x.png 1x, ./images/user7@2x.png 2x"
          src="./images/user7@1x.png"
          alt="Feedback portrait"
        />
      </li>
    </ul>
  </article>
</div>
</section>

<!-- <button type="button" >
  <svg class="icon-arrow">
    <use href="./images/icons/icons-sprite.svg#icon-arrow-left">

    </use>
  </svg>
</button> -->