<footer class="footer">
    <div class="container">
        <div class="footer__logo-address">
            <a href="./index.html" class="footer__logo">
                <p>
                    <span class="logo__part-one">Hell<svg class="footer__logo-svg">
                        <use href="./icons/icons-sprite.svg#icon-Campfire"></use>
                    </svg>EN</span>
                </p>
                <p class="logo__part-two--accent">hellish <span class="logo__part-two">english</span></p>
            </a>
            <address class="footer__address">
                <ul class="footer__address-list">
                    <li class="footer__address-item">
                        <a href="tel:+380000000000" class="footer__address-link">
                            <svg class="footer__address-icon">
                                <use href="./icons/icons-sprite.svg#icon-phone"></use>
                            </svg>
                            +38 (000) 000 00 00
                        </a>
                    </li>
                    <li class="footer__address-item">
                        <a href="" class="footer__address-icon-instagram" aria-label="Ссылка на Instagram">
                            <!-- <svg class="icon" width="40" height="40">
                                <use href="./icons/instagram.svg"></use>
                            </svg> -->
                        </a>
                    </li>
                </ul>
            </address>
        </div>
    </div>
    <section class="footer__copyright">
        <div class="container">
            <h2 class="section__title-visually-hidden">Copyright</h2>
        <p class="footer__copyright-text">@ All rights reserved, 2019</p>
        </div>
    </section>
</footer>