<footer class="footer" id="contacts">
  <div class="container">
    <div class="footer__logo-address">
      <div class="footer__logo">
        <a href="./index.html" class="logo">
          <svg class="logo__svg" width="80" height="20">
            <use href="./images/icons/icons-sprite.svg#icon-logo"></use>
          </svg>
          <p class="logo__slogan"><span class="logo__slogan--acent">hellish</span> english</p>
        </a>
      </div>
      <address class="footer__address">
        <ul class="footer__address-list">
          <li class="footer__address-item">
            <a href="tel:+380000000000" class="footer__address-link">
              <svg class="footer__address-icon">
                <use href="./images/icons/icons-sprite.svg#icon-phone"></use>
              </svg>
              +38 (000) 000 00 00
            </a>
          </li>
          <li class="footer__address-item">
            <a href="" class="footer__address-icon-instagram" aria-label="Ссылка на Instagram"> </a>
          </li>
        </ul>
      </address>
    </div>
  </div>
  <section class="footer__copyright">
    <div class="container">
      <h2 class="section__title-visually-hidden">Copyright</h2>
      <p class="footer__copyright-text">@ All rights reserved, 2019</p>
    </div>
  </section>
</footer>
