<header class="page-header">
  <div class="container header">
    <div class="page-header-flex">
      <a href="./index.html" class="logo">
        <p class="logo__partone">
          Hell<svg class="logo__svg">
            <use href="./icons/icons-sprite.svg#icon-Campfire"></use></svg
          >EN
        </p>
        <p class="logo__parttwo">hellish <span class="logo__parttwo--acent">english</span></p></a
      >
      <nav class="page-header__navigation">
        <ul class="site-navigation">
          <li class="site-navigation__item">
            <a href="" class="site-navigation__link site-navigation__link--noncurrent"
              >Studying program</a
            >
          </li>
          <li class="site-navigation__item">
            <a href="" class="site-navigation__link site-navigation__link--current">about</a>
          </li>
          <li class="site-navigation__item">
            <a href="" class="site-navigation__link site-navigation__link--noncurrent"
              >training options</a
            >
          </li>
          <li class="site-navigation__item">
            <a href="" class="site-navigation__link site-navigation__link--noncurrent">contacts</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="button page-header__button">consultation by phone</button>
    </div>
  </div>
</header>
