<header class="page-header">
  <div class="container">
    <a href="./index.html" class="logo">
      <span class="logo__partone"
        >Hell<svg class="logo__svg" width="" height="">
          <use href=""></use>
        </svg>
        EN</span
      >
      <span class="logo__parttwo"
        >hellish <span class="logo__parttwo--acent">english</span>
      </span></a
    >
    <ul class="site-navigation">
              <li class="site-navigation__item">
                <a
                  href=""
                  class="site-navigation__link site-navigation__link--noncurrent"
                  >Studying program</a
                >
              </li>
              <li class="site-navigation__item">
                <a
                  href=""
                  class="
                    site-navigation__link site-navigation__link--current
                  "
                  >about</a
                >
              </li>
              <li class="site-navigation__item">
                <a
                  href=""
                  class="
                    site-navigation__link site-navigation__link--noncurrent
                  "
                  >training options</a
                >
              </li>
              <li class="site-navigation__item">
                <a
                  href=""
                  class="
                    site-navigation__link site-navigation__link--noncurrent
                  "
                  >contacts</a
                >
              </li>
            </ul>
            <button type="button" class="button page-header__button">
            consultation by phone
          </button>
  </div>
</header>
