<section class="hero">
        <div class="container">
          <h1 class="hero__title">Complex preparation for English UPE</h1>
          <p class="hero__text">It won’t be easy.
              <span class="hero__text--accent">But you are guaranteed to get +25 points</span>
              </p>
          <button type="button" class="button hero__button">
            i want a free lesson
          </button>
          <div class="hero__images">
                <img
                  class="image-above"
                  srcset=""
                  src=""
                  alt="Live communication of the group in the classroom in the lesson"
                />
                <img
                  class="image-under"
                  srcset=""
                  src=""
                  alt="Live communication of the group in the classroom in the lesson"
                />
          </div>
        </div>
      </section>