<section class="section hero">
  <div class="container">
    <div class="section-hero-flex">
      <div class="hero__content">
        <h1 class="hero__title">Complex preparation for English UPE</h1>
        <p class="hero__text">
          It won’t be easy.
          <span class="hero__text--accent">But you are guaranteed to get +25 points</span>
        </p>
        <button type="button" class="button hero__button">i want a free lesson</button>
      </div>
      <div class="hero__images">
        <picture class="hero__picture">
          <source
            media="screen and (max-width: 767px)"
            srcset="./images/HeroPng-sm@1x.png 1x, ./images/HeroPng-sm@2x.png 2x"
          />
          <source
            media="screen and (min-width: 768) and (max-width: 1365)"
            srcset="./images/HeroPng-md@1x.png 1x, ./images/HeroPng-md@2x.png 2x"
          />
          <source
            media="screen and (min-width: 1366)"
            srcset="./images/HeroPng-lg@1x.png 1x, ./images/HeroPng-lg@2x.png 2x"
          />
          <img
            src="./images/HeroPng-lg@1x.png"
            alt="Live communication of the group in the classroom in the lesson"
          />
        </picture>
        <picture class="hero__decoration">
          <img src="./images/HeroPng-lg@1x.png" alt="Decoration element" />
        </picture>
      </div>
    </div>
  </div>
</section>
