<div class="modal container">
  <ul class="modal__header-list">
    <li class="modal__header-item">
      <!-- однотипные элементы можно вынести в отдельный файл
        и подключать в нужных места, например здесь,
        а потом еще и в modal и footer -->

      <include src="./partials/logo.html"></include>

    </li>

    <li class="modal__header-item">
      <button type="button" class="modal__btn-close">
        <svg width="15" height="15">
          <use href="./images/icons/icons-sprite.svg#icon-modal-close"></use>
        </svg>
      </button>
    </li>
  </ul>

  <ul class="modal__pages-list">
    <li class="modal__pages-item">
      <a href="#" class="modal__link">Studying program</a>
    </li>
    <li class="modal__pages-item">
      <a href="#" class="modal__link">About</a>
    </li>
    <li class="modal__pages-item">
      <a href="#" class="modal__link">Training options</a>
    </li>
    <li class="modal__pages-item">
      <a href="#" class="modal__link">Contacts</a>
    </li>
  </ul>
</div>
