<div class="modal container">
  <ul class="modal__header-list">
    <li class="modal__header-item">
      <p class="modal__logotype">
        Hell
        <svg width="22" height="30">
          <use href="./icons/icons-sprite.svg#icon-Campfire"></use>
        </svg>
        EN
      </p>
      <p>Hellish english</p>
    </li>

    <li class="modal__header-item">
      <button type="button" class="modal__btn-close">
        <svg width="15" height="15">
          <use href="./icons/icons-sprite.svg#icon-modal-close"></use>
        </svg>
      </button>
    </li>
  </ul>

  <ul class="modal__pages-list">
    <li class="modal__pages-item">
      <a href="#" class="modal__link">Studying program</a>
    </li>
    <li class="modal__pages-item">
      <a href="#" class="modal__link">About</a>
    </li>
    <li class="modal__pages-item">
      <a href="#" class="modal__link">Training options</a>
    </li>
    <li class="modal__pages-item">
      <a href="#" class="modal__link">Contacts</a>
    </li>
  </ul>
</div>
