<section class="section">
    <div class="container">
        <h2>Our program</h2>
        <ul>
            <li>
                <h3>1 semester</h3>
                <li>
                    <b>— Grammar</b>
                    <p>Nouns & Articles Adjectives & Adverb </p>
                </li>
                <li>
                    <b>— Vocabulary</b>
                    <p>Family & Relations People & Society</p>
                </li>
            </li>
            <li>
                <h3>2 semester</h3>
                <li>
                    <b>— Grammar</b>
                    <p>Pronouns Active Voice Passive Voice</p>
                </li>
                <li>
                    <b>— Vocabulary</b>
                    <p>Home School Work</p>
                </li>
            </li>
            <li>
                <h3>3 semester</h3>
                <li>
                    <b>— Grammar</b>
                    <p>Modal verbs Infinitive Gerund Participle: 1, 2</p>
                </li>
                <li>
                    <b>— Vocabulary</b>
                    <p>Travel & Tourism Culture & Free Time Sport</p>
                </li>
                <li>
                    <b>— Writing</b>
                    <p>Informal Letter</p>
                </li>
            </li>
            <li>
                <h3>4 semester</h3>
                <li>
                    <b>— Grammar</b>
                    <p>Clauses: Conditional and Wishes Direct / Reported speech Preposition Conjunction  Numeral</p>
                </li>
                <li>
                    <b>— Vocabulary</b>
                    <p>Healthy Living Nature & Environment Money</p>
                    <li>
                        <b>— Writing</b>
                        <p>Formal Letter</p>
                    </li>
                </li>
            </li>
            <li>
                <h3>5 semester</h3>
                <li>
                    <b>—</b>
                    <p>Revision Tests</p>
                </li>                
            </li>
        </ul>        
    </div>
</section>