<section class="section program">
    <div class="container">
        <h2 class="program__title">Our program</h2>
        <ul class="program__list">
            <li class="program__content">
                <h3 class="program__semesrt">1 semester</h3>
                <ul class="program__knowledge line">
                    <li class="program__counter">
                        <b class="program__name">— Grammar</b>
                        <p class="program_paragraf">Nouns & Articles </p>
                        <p class="program_paragraf margin__program">Adjectives & Adverb </p>
                    </li>
                    <li class="program__counter">
                        <b class="program__name">— Vocabulary</b>
                        <p class="program_paragraf">Family & Relations</p>
                        <p class="program_paragraf">People & Society</p>
                    </li>
                </ul>
            </li>
            <li class="program__content">
                <h3 class="program__semesrt">2 semester</h3>
                <ul class="program__knowledge line">
                    <li class="program__counter">
                        <b class="program__name">— Grammar</b>
                        <p class="program_paragraf">Pronouns</p>
                        <p class="program_paragraf">Active Voice</p>
                        <p class="program_paragraf margin__program">Passive Voice</p>
                    </li>
                    <li class="program__counter">
                        <b class="program__name">— Vocabulary</b>
                        <p class="program_paragraf">Home</p>
                        <p class="program_paragraf">School</p>
                        <p class="program_paragraf">Work</p>
                    </li>
                </ul>
            </li>
            <li class="program__content ">
                <h3 class="program__semesrt">3 semester</h3>
                <ul class="program__knowledge line">
                    <li class="program__counter">
                        <b class="program__name">— Grammar</b>
                        <p class="program_paragraf">Modal verbs</p>
                        <p class="program_paragraf">Infinitive</p>
                        <p class="program_paragraf">Gerund</p>
                        <p class="program_paragraf margin__program">Participle: 1, 2</p>
                    </li>
                    <li class="program__counter">
                        <b class="program__name">— Vocabulary</b>
                        <p class="program_paragraf">Travel & Tourism</p>
                        <p class="program_paragraf">Culture & Free</p>
                        <p class="program_paragraf margin">Time Sport</p>
                    </li>
                    <li class="program__counter">
                        <b class="program__name">— Writing</b>
                        <p class="program_paragraf">Informal Letter</p>
                    </li>
                </ul>
            </li>
            <li class="program__content">
                <h3 class="program__semesrt">4 semester</h3>
                <ul class="program__knowledge line">
                    <li class="program__counter">
                        <b class="program__name">— Grammar</b>
                        <p class="program_paragraf">Clauses: Conditional and Wishes</p>
                        <p class="program_paragraf">Direct / Reported speech Preposition</p>
                        <p class="program_paragraf">Conjunction</p>
                        <p class="program_paragraf margin__program">Numeral</p>
                    </li>
                    <li class="program__counter">
                        <b class="program__name">— Vocabulary</b>
                        <p class="program_paragraf">Healthy Living</p>
                        <p class="program_paragraf">Nature & Environment</p>
                        <p class="program_paragraf margin__program">Money</p>
                    </li>
                    <li class="program__counter">
                        <b class="program__name">— Writing</b>
                        <p class="program_paragraf">Formal Letter</p>
                    </li>
                </ul>
            </li>
            <li class="program__content">
                <h3 class="program__semesrt">5 semester</h3>
                <ul class="program__knowledge">
                    <li class="program__counter">
                        <b class="program__name">—</b>
                        <p class="program_paragraf">Revision</p>
                        <p class="program_paragraf">Tests</p>
                    </li>  
                </ul>
            </li>
        </ul>   
        <div class="program__image">
            <picture class="program__picture">
                <source
                  media="screen and (max-width: 767px)"
                  srcset="./images/mainMobile@1x.png 1x, ./images/mainMobile@2x.png 2x" />
                <source media="screen and (min-width: 768) and (max-width: 1365)" 
                srcset="./images/mainTablet@1x.png 1x, ./images/mainTablet@2x.png 2x" />   
                <source media="screen and (min-width: 1366)" 
                srcset="./images/mainDesctop@1x.png 1x, ./images/mainDesctop@2x.png 2x" />          
                <img
                  src="./images/mainDesctop@1x.png"
                  alt="Photo of classes"
                />
              </picture>
        </div> 
        <div class="problems">
            <h2 class="problems__title is-hiden">Why do people choose us</h2>
            <div class="problems__background">
                <ul class="problems__list">
                    <li class="problems__item">                
                        <p class="problems__text">Training in small groups</p>
                    </li>
                    <li class="problems__item">               
                        <p class="problems__text">Rendered notes</p>
                    </li>
                    <li class="problems__item">               
                        <p class="problems__text">Each lesson has a goal and a specific result</p>
                    </li>
                    <li class="problems__item">               
                        <p class="problems__text">The real results of the teacher</p>
                    </li>
                    <li class="problems__item">                
                        <p class="problems__text">The course program meets the requirements of the MES of Ukraine</p>
                    </li>
                    <li class="problems__item">                
                        <p class="problems__text">Set of groups by level of knowledge</p>
                    </li>
                </ul>            
            </div>
        </div>     
    </div>
</section>