<section class="section">
    <div class="container">
        <h2>Teacher</h2>       
        <img srcset="" src="" alt="Photo of Elena Moreva" > 
        <h3>Елена Морева</h3>
        <ul>
            <li>
                <svg width="25" height="20"><use href="./icons/icons-sprite.svg#icon-check-mark"></use></svg>
                <p>6 yeards of experience in preparing students for UPE</p>
            </li>
            <li>
                <svg width="25" height="20" ><use href="./icons/icons-sprite.svg#icon-check-mark"></use></svg>
                <p>Own result of passing VNO - 197 points 2 years in a row</p>
            </li>
            <li>
                <svg width="25" height="20" ><use href="./icons/icons-sprite.svg#icon-check-mark"></use></svg>
                <p>6 yeards of experience in preparing students for UPE Own result of passing VNO - 197 points 2 years in a row Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English Test)</p>
            </li>
            <li>                
                <p>—</p>
            </li>
            <p>
                Graduated from the Institute of International Relations of the NAU with a degree in translator-analyst.
                In spare time takes courses from the best universities in the world on effective teaching and essay writing techniques.
                Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of Houston).
            </p>
            <a href="">Cambrige English Entry Level Certificate</a>
        </ul>

    </div>

</section>