<section class="section">
    <div class="container">
        <h2>Why do people choose us</h2>
        <ul>
            <li>
                <b>— 01</b>
                <p>Training in small groups</p>
            </li>
            <li>
                <b>— 02</b>
                <p>Rendered notes</p>
            </li>
            <li>
                <b>— 03</b>
                <p>Each lesson has a goal and a specific result</p>
            </li>
            <li>
                <b>— 04</b>
                <p>The real results of the teacher</p>
            </li>
            <li>
                <b>— 05</b>
                <p>The course program meets the requirements of the MES of Ukraine</p>
            </li>
            <li>
                <b>— 06</b>
                <p>Set of groups by level of knowledge</p>
            </li>
        </ul>
    </div>
</section>