.guarantee__title {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.guarantee__item {
  display: flex;
  position: relative;
}

.guarantee__item:not(:last-child) {
  margin-bottom: 23px;
}

.guarantee__desc {
  color: var(--extra-color-dark-grey);
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.guarantee__icon {
  fill: var(--extra-color-orange);
  margin-right: 20px;
  width: 43px;
  height: 20px;
}

.guarantee__border {
  position: absolute;
  display: block;
  width: 0px;
  height: 50px;
  top: 50%;
  left: 6px;
  border: 1px dashed #b9b9b9;
  border-color: var(--text-color);
}
