.page-header {
  padding-top: 33.5px;

  @include mq(mobile-only) {
    padding-top: 30px;
  }
  @include mq(tablet-only) {
    padding-top: 40px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq(mobile-only) {
    }
  }

  &__hamburger {
    @include mq(desktop) {
      display: none;
    }
  }

  &__navigation {
    @include mq(mobile-only) {
      display: none;
    }

    @include mq(desktop) {
      display: flex;
      align-items: center;
    }
  }

  .site-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 650px;

    @include mq(notDesktop) {
      display: none;
    }
  }

  .site-navigation__link {
    color: var(--text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    text-transform: uppercase;
    transition: var(--transition);

    .site-navigation__item &:hover,
    .site-navigation__item &:focus {
      color: var(--extra-color-orange);
    }
  }

  &__button {
    margin-left: 60px;
    padding: 25px 22px 24px 21px;
    min-width: 336px;
    height: 70px;
    color: var(--extra-color-orange);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    border: 2px solid var(--extra-color-orange);
    background-color: transparent;
    @include mq(mobile-only) {
      display: none;
    }
    @include mq(tablet-only) {
      margin-right: 40px;
      padding: 3px 13px 3px 14px;
      min-width: 260px;
      height: 48px;
    }
  }
}
