.problems {
  background-image: linear-gradient(to bottom, var(--section-black) 75%, var(--section-white) 25%);

  @include mq(tablet) {
    background-image: linear-gradient(
      to bottom,
      var(--section-black) 75%,
      var(--section-white) 25%
    );
  }

  @include mq(desktop) {
    background-image: url(../images/icons/campfire.svg),
      linear-gradient(to bottom, var(--section-black) 80%, var(--section-white) 20%);
    background-attachment: unset;
    background-position: bottom 63% right;
    background-repeat: no-repeat;
  }

  @include mq(tablet) {
    padding: 60px 40px 25px;
  }

  @include mq(tablet) {
    padding-top: 100px;
  }
}

.problems__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--text-color-white);
  margin-bottom: 25px;
  &--accent {
    color: var(--extra-color-orange);
  }

  @include mq(tablet) {
    width: 421px;
  }

  @include mq(tablet) {
    width: 633px;
    font-size: 46px;
    margin-bottom: 70px;
  }
}

.problems__wrapper {
  background-color: var(--section-white);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.problems__list {
  padding: 55px 34px 30px 30px;
  counter-reset: section;

  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @include mq(desktop) {
    padding: 113px 112px 62px 114px;
  }
}

.problems__item {
  @include mq(tablet) {
    flex-basis: calc(100% / 2 - 40px);
  }

  @include mq(desktop) {
    flex-basis: calc(100% / 3 - 40px);
  }
}

.problems__item:not(:last-child) {
  margin-bottom: 44px;

  @include mq(tablet) {
    margin-bottom: 53px;
  }
}

@include mq(tablet) {
  .problems__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@include mq(desktop) {
  .problems__item:nth-child(-n + 3) {
    margin-bottom: 75px;
  }
  .problems__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.problems__desc {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.08em;
}

.problems__desc::before {
  position: absolute;
  top: -30px;
  counter-increment: section;
  content: '— 0' counter(section);
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: var(--extra-color-orange);
}
