.slick-slider {
position: relative;
}
.slick-list {
    overflow: hidden;
    // max-width: 1090px;
}
.slick-track {
    display: flex;
    transform: none;
}

.slick-arrow{
    position: absolute;
    margin-top: -20px ;
    top: 50%;
    z-index: 10;
}
.slick-prev{
// left: 0;
// top: 0;
}
.slick-next{
right: 0;
}
.review-btn{
    font-size: 0;
    background-color: inherit;
    border: 0;
}
.icon-arrow{
    width: 40px;
    height: 30px;
    
}
.slick-current > img{
border-radius: 50%;
border: 2px solid orange;
}