.slick-slider {
position: relative;

}
.slick-list {
    overflow: hidden;
    // max-width: 1090px;
}
.slick-track {
    display: flex;
    transform: none;
}

.slick-arrow{
    position: absolute;
    margin-top: -20px ;
    top: 50%;
    z-index: 10;
}
.slick-prev{
left: 0;
// top: 0;
}
.slick-next{
right: 0;
}
.arrow-pagination-prev{
left: -49px;
}
.arrow-pagination-next {
right: -49px;
}
.review-btn{
    font-size: 0;
    background-color: inherit;
    border: 0;
}
.icon-arrow{
    width: 25px;
    height: 20px;
    
}
.slick-slide > img {
    margin: 0 auto;
}
.slick-current > img{
border-radius: 50%;
border: 2px solid red;
// margin: 0 auto;
}
.review-wrapper.slick-current {
    box-shadow: 5px 8px 26px rgba(0, 0, 0, 0.04);
}