.slick-slider {
  position: relative;
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
  transform: none;
}
.review-slider__pagination .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  & > img {
    width: 54px;
    height: 54px;
  }
}
.slick-arrow {
  position: absolute;
  margin-top: -20px;
  top: 50%;
  z-index: 10;
}
.arrow-slider-prev {
  left: -13px;
  @include mq(desktop) {
    left: -83px;
  }
}
.arrow-slider-next {
  right: -13px;
  @include mq(desktop) {
    right: -83px;
  }
}
.arrow-pagination-prev {
  top: 40px;
  left: -49px;
}
.arrow-pagination-next {
  top: 40px;
  right: -49px;
}
.review-btn {
  font-size: 0;
  background-color: inherit;
  border: 0;
}
.icon-arrow {
  width: 25px;
  height: 20px;
}

.slick-current > img {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px rgba(255, 107, 9, 1);

  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-wrapper.slick-current {
  box-shadow: 5px 8px 26px rgba(0, 0, 0, 0.04);
}
